In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Social_Network_Ads.csv')
df = df.iloc[:,1:]
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['Gender'] = encoder.fit_transform(df['Gender'])

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X = df.iloc[:,:3].values
X = scaler.fit_transform(X)
y = df.iloc[:,-1].values

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [13]:
X_train.shape, X_test.shape

((320, 3), (80, 3))

In [32]:
from collections import Counter

class KNN:
    def __init__(self,k = 5):
        self.n_neighbors = k
        self.X_train = None
        self.y_train = None

    def calculated_distance(self, point_A, point_B):
        return np.linalg.norm(point_A - point_B)

    def majority_count(self, neighbors):
        votes = []

        for i in neighbors:
            votes.append(self.y_train[i[0]])
        votes = Counter(votes)
        return votes.most_common()[0][0]

    def fit(self, X_train, y_train):
        self.X_train = X_train
        self.y_train = y_train

    def predict(self, X_test):
        y_pred = []
        for i in X_test:

            distance = []
            for j in X_train:
               distance.append(self.calculated_distance(i, j))
            n_neighbors = sorted(list(enumerate(distance)), key = lambda x:x[1])[0:self.n_neighbors]
            label = self.majority_count(n_neighbors)
            y_pred.append(label)
        return np.array(y_pred)

In [33]:
from sklearn.metrics import accuracy_score
knn = KNN()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
accuracy_score(y_test, y_pred)

0.95