In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/digit-recognizer/sample_submission.csv
/kaggle/input/digit-recognizer/train.csv
/kaggle/input/digit-recognizer/test.csv

In [2]:
df = pd.read_csv('/kaggle/input/digit-recognizer/train.csv')
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,1:],df.iloc[:,0],test_size=0.2,random_state=2)

In [4]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

clf1 = LogisticRegression()
clf2 = DecisionTreeClassifier()

clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)

y_pred1 = clf1.predict(X_test)
y_pred2 = clf2.predict(X_test)

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [5]:
from sklearn.metrics import accuracy_score,confusion_matrix
print("Accuracy of Logistic Regression",accuracy_score(y_test,y_pred1))
print("Accuracy of Decision Trees",accuracy_score(y_test,y_pred2))

Accuracy of Logistic Regression 0.9145238095238095
Accuracy of Decision Trees 0.8513095238095238

In [9]:
print('Logistic Regression Confusion Matrix: \n')
pd.DataFrame(confusion_matrix(y_test, y_pred1), columns = list(range(0,10)))

Logistic Regression Confusion Matrix:

     0    1    2    3    4    5    6    7    8    9
0  791    0    1    0    1    9   11    1    6    1
1    0  938    2    4    0    3    0    3   12    0
2    2    9  745   16    9    4   13   13   15    3
3    1    4   19  763    0   36    5    5   20   11
4    2    5    4    0  804    1    7    3    9   21
5    9    3    4   23   10  610   15   10   34   11
6   12    4   12    1    7    8  789    0    5    1
7    3    2   13    6    4    2    0  812    2   29
8   11   12   13   18    1   21    6    6  694   11
9    3    6    2   14   25    4    0   37    7  736

In [10]:
print('Decision Tree Confusion Matrix: \n')
pd.DataFrame(confusion_matrix(y_test, y_pred2), columns = list(range(0,10)))

Decision Tree Confusion Matrix:

     0    1    2    3    4    5    6    7    8    9
0  754    2   15    9    6   13    9    2    8    3
1    1  904   14   10    7    7    6    2    9    2
2   12   24  654   28   18   13   23   25   26    6
3    7   16   28  696    5   39   11   16   30   16
4    8    7    6    9  730   10   16    6   20   44
5   14    5   13   45    6  572   21   10   24   19
6    9    2   11    6    9   24  752    0   20    6
7    2   11   24   14    8    5    2  782    5   20
8    7   11   23   38   17   31   14    3  627   22
9   10    7    4   16   43   19    3   31   21  680

In [13]:

from sklearn.metrics import precision_score,recall_score,f1_score, classification_report

In [17]:
precision_score(y_test,y_pred1, average = None)

array([0.94844125, 0.95422177, 0.91411043, 0.90295858, 0.93379791,
       0.8739255 , 0.93262411, 0.91235955, 0.86318408, 0.89320388])

In [18]:
recall_score(y_test,y_pred1, average = 'weighted')

0.9145238095238095

In [19]:
f1_score(y_test,y_pred1, average = 'macro')

0.9125721045561429

In [22]:
print(classification_report(y_test,y_pred2))

              precision    recall  f1-score   support

           0       0.92      0.92      0.92       821
           1       0.91      0.94      0.93       962
           2       0.83      0.79      0.81       829
           3       0.80      0.81      0.80       864
           4       0.86      0.85      0.86       856
           5       0.78      0.78      0.78       729
           6       0.88      0.90      0.89       839
           7       0.89      0.90      0.89       873
           8       0.79      0.79      0.79       793
           9       0.83      0.82      0.82       834

    accuracy                           0.85      8400
   macro avg       0.85      0.85      0.85      8400
weighted avg       0.85      0.85      0.85      8400